<mat-toolbar class="toolbar">
  <span>
    <mat-icon class="logo material-symbols-outlined">home</mat-icon>
    <span class="mat-title"> Menu </span>
  </span>
  <mat-icon class="close" (click)="onToggleClose()">close</mat-icon>
</mat-toolbar>
<div class="contents">
  <a mat-menu-item (click)="gotoDashboard()" class="menu-item">
    <mat-icon class="icon"
      ><span class="material-symbols-outlined"> grid_view </span></mat-icon
    >
    <span>Dashboard</span>
  </a>
  <a mat-menu-item (click)="gotoCard()" class="menu-item">
    <mat-icon class="icon"
      ><span class="material-symbols-outlined"> person_add </span></mat-icon
    >

    <span>Sign Up</span>
  </a>
</div>
