<div class="example-container">
  <mat-card class="box1">
    <img mat-card-image src="assets/dashboard_bg.jpg" />
  </mat-card>
  <div class="box2">
    <mat-card class="customer-form">
      <div style="margin-top: 30%" *ngIf="authType == 'login'"></div>
      <mat-card-header
        ><h1>
          {{ title }}
        </h1></mat-card-header
      >
      <mat-card-content>
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" *ngIf="authType == 'register'">
            <mat-label>Firstname</mat-label>
            <input matInput type="text" formControlName="firstName" />
            <mat-error
              *ngIf="f['firstName'].errors?.['required']&& (f['firstName'].touched||f['firstName'].dirty)"
              >Firstname is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="authType == 'register'">
            <mat-label>Lastname</mat-label>
            <input matInput type="text" formControlName="lastName" />
            <mat-error
              *ngIf="f['lastName'].errors?.['required']&& (f['lastName'].touched||f['lastName'].dirty)"
              >Lastname is required</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <span matPrefix *ngIf="authType == 'login'"
              ><mat-icon style="padding-left: 0.625rem; color: #7d7d7d"
                >mail_outline</mat-icon
              ></span
            >
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
            />
            <mat-error
              *ngIf="f['email'].errors?.['required']&& (f['email'].touched||f['email'].dirty)"
              >Email is required</mat-error
            >
            <mat-error
              *ngIf="(f['email'].touched || f['email'].dirty) && f['email'].errors?.['email']"
              >Please enter valid email</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <span matPrefix *ngIf="authType == 'login'"
              ><mat-icon style="padding-left: 0.625rem; color: #7d7d7d"
                >lock</mat-icon
              ></span
            >
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error
              *ngIf="f['password'].errors?.['required']&& (f['password'].touched||f['password'].dirty)"
              >Password is required</mat-error
            >
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" *ngIf="authType == 'register'">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" />
        </mat-form-field> -->
          <!-- <mat-form-field appearance="outline" *ngIf="authType == 'register'">
          <mat-label>Phone number</mat-label>
          <input matInput type="text" formControlName="contactDetails" />
        </mat-form-field> -->
          <mat-error *ngIf="error">{{ error }}</mat-error>
          <button
            class="submit"
            mat-raised-button
            type="submit"
            [disabled]="!customerForm.valid || submitted"
          >
            {{ authType == "login" ? "Login" : "Sign-up" }}
          </button>
        </form></mat-card-content
      >
      <mat-card-actions style="justify-content: center"
        ><div *ngIf="authType === 'login'">
          New user? &nbsp;
          <a [routerLink]="['/register']">Sign-up</a>
        </div>
        <div *ngIf="authType === 'register'">
          Already a member? &nbsp;
          <a [routerLink]="['/login']">Login</a>
        </div></mat-card-actions
      >
      <div style="padding-bottom: 33%" *ngIf="authType == 'login'"></div>
    </mat-card>
  </div>
</div>
